@import '../../styles/constants.less';

.itemPane {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 101px;
  width: 200px;
  border-right: 1px solid @borderColor;
  background-color: rgba(255, 255, 255, 0.2);
}

.box {
  /* 禁止选中文本 */
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  -webkit-touch-callout: none;
  user-select: none;
}
